# Wait 60 seconds before connecting using these details, or login to https://console.neo4j.io to validate the Aura Instance is available
# NEO4J_URI=neo4j+s://047b2886.databases.neo4j.io
# NEO4J_USERNAME=neo4j
# NEO4J_PASSWORD=W46rDX9thiKCbkDxVAAtk6T2LFazREROWsaJgExGBoE
# AURA_INSTANCEID=047b2886
# AURA_INSTANCENAME=Instance01

NEO4J_URL = "bolt://neo4j:password@localhost:7687"
MONGO_URL = "mongodb://root:password@localhost:27017"
